.header {
  display: flex;
  border-bottom: 1px solid rgb(199, 197, 197);
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
}
.header img{
  width: 150px;
  height: 80px;
}
.links
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.links a {
  color: rgb(228, 222, 222);
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
}
.links .active{
  color: rgb(116, 5, 103);
  font-size: 30px;
}
body{
  background-color: rgb(0, 0, 0);
  color: white;
}
.all{
  margin-left: 10px;
}